# Ignore files incluing personal information and build outputs
*.exe
*.pdf
*.zip
# But add questions.pdf back
!hw1/hw1_questions.pdf
!hw2/hw2_questions.pdf
!hw3/hw3_questions.pdf
!hw4/hw4_questions.pdf
!hw5/hw5_questions.pdf  
!hw6/hw6_questions.pdf
!hw7/hw7_questions.pdf
!lab1/lab1_assignments.pdf
!lab2/lab2_assignments.pdf
!lab3/lab3_assignments.pdf
!lab4/lab4_assignments.pdf
!lab5/lab5_assignments.pdf